.area-list-wrap {
  width: 30%;
  padding: 15px;
  height: 150px;
  border-radius: 1.5px;
  box-shadow: 0 4.5px 10.5px 1px #f8f8f8;
  background-color: #ffffff;

  .area-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    :not(:last-child) {
      margin-right: 5px;
    }

    i {
      color: #4bb0dd;
      font-size: 14px;
      &:hover {
        cursor: pointer;
      }
    }

    input {
      width: 50px;
      border: none;
      border-bottom: 1px solid lightgrey;
      margin-right: 5px;
      color: #686868;
      font-size: 15px;
      &:focus {
        outline: none;
      }
    }

    .addButton {
      margin-bottom: 5px;
      font-size: 18px;
    }

    .area {
      padding: 5px 10px;
      height: 26px;
      width: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      border-radius: 2px;
      box-shadow: 0 2.5px 8px 0 rgba(189, 197, 205, 0.47);
      background-color: #ffffff;

      span {
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #686868;
        margin-right: 5px;
      }
      div {
        display: none;
        i {
          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
      &:hover {
        div {
          display: block;
        }
      }
    }

    .add-area {
      height: 26px;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100px;
      padding: 5px 10px;
      border-radius: 2px;
      box-shadow: 0 2.5px 8px 0 rgba(189, 197, 205, 0.47);
      background-color: #ffffff;
    }
  }
}